<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">{{ site.title }}</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>&copy; {{site.time | date: '%Y'}} Design from <a href="https://github.com/tanakachingonzo">Tanaka Chingonzo</a> | &copy; {{site.time | date: '%Y'}} Development by <a href="https://github.com/crlosdelfino">Carlos Delfino</a></p>
          </div>
          <div class="footer-social">
            <ul class="list-reset">
              {% if site.github_username %}
              <li><a href="https://github.com/{{ site.github_username}}"><i class="devicons devicons-git"></i> GitHub</a></li>
              {% endif %}
              {% if site.facebook %}
              <li><a href="{{ site.facebook }}">Facebook</a></li>
              {% endif %}

              {% if site.twitter %}
              <li><a href="https://twitter.com/{{ site.twitter }}">Twitter</a></li>
              {% endif %}

              {% if site.instagram %}
              <li><a href="{{ site.instagram }}">Instagram</a></li>
              {% endif %}

              {% if site.pinterest %}
              <li><a href="{{ site.pinterest }}">Pinterest</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->
