<head>
  <meta name="msvalidate.01" content="7BDB0376D08C31133EDEDA80DC90DFEF" />

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% include seo.html %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | relative_url }}" />

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

  <style>
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1710447158146560"
     crossorigin="anonymous"></script>
</head>
