// Main Colors
$primary-color: #2F855A;
$secondary-color: #2B6CB0;
$highlight: #FBE7C6;
$text: #2D3748;
$gray-blue: #4A5568;
$white: #ffffff;
$black: #1A202C;
$lighten-black: #CBD5E0;
$blue-black: #EDF2F7;
$blue-darken: #E2E8F0;
$green-darken: #22543D;
$danger: #E53E3E;
$success: #38A169;


// Background Colors
$background: #F7FAFC;

// Body Color
$body-color: $text;

// Headings
$heading-font-color: #1A202C;

// Links
$link-color: $secondary-color;
$link-color-hover: darken($secondary-color, 10%);

// Button
$button-color: $white;
$button-background-color: $primary-color;

// Border
$border-color: #CBD5E0;
